.user{
    display: flex;
}

.user.img{
    padding: 20px;
}

.user-info{
    background-color: #efefef;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.user-info-p{
    margin: 5px;
}

.a{
    color: white;
}
